body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

.table-bordered {
    border-collapse: collapse; /* Asegura que los bordes no se dupliquen */
    width: 100%;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #FFF; /* Estilo del borde */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

#ventanaFlotanteInformativa{
    display: none;
    background-color: #626262;
    color: #f0f0f0;
    text-align: justify;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    z-index: 999;
    margin: 0 auto;
    width: 215px;
    height: 130px;
}

.eyeHawk{
    background: none;
    border: none;
    display: flex;
    position: absolute;
    padding: 10px 10px;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 20px;
    background-image:url('home_eyeHawk.svg');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}


svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    /*height: 100%;*/
    z-index: 0;
}

/*svg {
    width: 100%;
    height: 100%;
}*/

text {
    white-space: pre-line;
    user-select: none;
}

#tspan22953, #tspan22949, #tspan20-6, #tspan20-64, #valvula_gas, #tspan37305{
    display: none;
}

#ventanaClima {
    display: none;
    background-color: #626262;
    color: #f0f0f0;
    text-align: justify;
    /*justify-content: center;*/
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    z-index: 1;
    margin: 0 auto;
    width: 500px;
    height: 255px;
}

#myChartClima {
    background-color: #E0E0E0;
    border-radius: 5px;
    /*justify-content: center;*/
    width: 100%;
    height: auto;
    margin: auto;
    display: none;

}

.textclima {
    color: #f0f0f0;
    margin-top: -12px;
    margin-bottom: 2px;
    text-align: center;
}
