body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

.table-bordered {
    border-collapse: collapse; /* Asegura que los bordes no se dupliquen */
    width: 100%;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #FFF; /* Estilo del borde */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}


.eyeHawk{
    background: none;
    border: none;
    display: flex;
    position: absolute;
    padding: 10px 10px;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 20px;
    background-image:url('home_eyeHawk.svg');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.novedades {
    margin-top: 10 vh;
    padding: 20 vh;
    background-color: #BDB8B8;
    font-size: 18px;
    color: #000;
    z-index: 1;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
}

.mesMobilButton{
    position: absolute;
    border-radius: 5px;
    background-color: #D80B0B;
    color: #FFF;
    top: 0;
    right: .5vw;
}

.messageMobil {
    position: absolute;
    top: 2.5vh;
}

.imgRotate {
    position: absolute;
    margin-top: 0;
    top: 3vh;
    width: 30vw;
    height: 30vh;
    left: 10vw;
}

.mesMobil{
    position: fixed;
    top: 35vh;
    left: 25vw;
    color: #FFF;
    background-color: #333;
    font-size: 16px;
    display: block;
    justify-content: center;
    border-radius: 5px;
    border-color: #FFf;
    border-width: 20px;
    z-index: 50;
    width: 50vw;
    height: 30vh;
    display: none;
}

.ok {
    background-color: #31E749;
    color: #000;
    z-index: 1;
}

.alert {
    background-color: #D80B0B;
    color: #FFF;
}



rect {
    transition: fill 0.75s, stroke 1.5s;
}

tspan {
    user-select: none;
}

text {
    white-space: pre-line;
    user-select: none;
}

h4, p {
    font-family: sans-serif;
    margin: 4px auto 4px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-size: 13px; */
}

#climaGcontinuas-2EFab1 {
    display: none;
}

#climaContinuasEFab1 {
    display: none;
}

#climaEcontinuasFab1 {
    display: none;
}

#ventanaClima {
    display: none;
    background-color: #626262;
    color: #f0f0f0;
    text-align: justify;
    /*justify-content: center;*/
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    z-index: 555;
    margin: 0 auto;
    width: 500px;
    height: 255px;
}

#info {
    margin-top: 0px;
}

#ventanaFlotanteInformativa{
    display: none;
    background-color: #626262;
    color: #f0f0f0;
    text-align: justify;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    z-index: 999;
    margin: 0 auto;
    width: 215px;
    height: 130px;
}

#datos {
    font-size : 16px;
}

#demanda_agua_fria_grafico {
    display: none;
}

#demanda_agua_fria_text {
    display: none;
}


.textclima {
    color: #f0f0f0;
    margin-top: -12px;
    margin-bottom: 2px;
    text-align: center;
}

/*.backName{
    width: 70%;
    justify-content: center;
}*/


#ventanaFlotante {
    display: none;
    background-color: #626262;
    color: #f0f0f0;
    text-align: justify;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    z-index: 1;
    margin: 0 auto;
    width: 280px;
    height: 330px;
}

#instalacion {
    text-decoration: underline;
    text-decoration-color: #BDB8B8;
    text-decoration-style: line;
    text-decoration-thickness: 2px;
    margin-top: -2px;
}

#preFiltro {
    display: none;
}

#preFiltroH , #RPM2H, #carro2H, #titlePicos2 {
    display: none;
}
.title {
    margin: 1px auto 1px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.tela {
    margin-top: -10px;
}

#rpm2 {
    display: none;
}

#carro2 {
    display: none;
}

#pico2 {
    display: none;
}

#myChartfiltro {
    background-color: #E0E0E0;
    border-radius: 5px;
    width: auto;
    height: auto;
    /* margin: 1px 10px 1px; */
    margin-top: 1px;
    margin-bottom: 11px;
    /* display: none; */
    /* margin: auto; */
}

#myChartClima {
    background-color: #E0E0E0;
    border-radius: 5px;
    /*justify-content: center;*/
    width: 100%;
    height: auto;
    margin: auto;
    display: none;

}
