* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    background-color: #333;
    font-family: sans-serif;
    width: 100%;
}

.eyeHawk{
    background: none;
    border: none;
    display: flex;
    position: absolute;
    padding: 10px 10px;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 20px;
    background-image:url('iconOjodeHalcon.svg');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.bienvenida{
    display: flex;
    position: absolute;
    top: -60px;
    left: 15px;
    color: #FFF;
    font-size: 20px;
    margin-top: 60px;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0% auto;
    width: 100%;
}

.instalaciones{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: #45a049;
}

.boton:active {
    background-color: #3e8e41;
}

h1, h2 {
    color: #7CF55E;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    color: #7CF55E;
}

.fecha {
    color: azure;
    font-size: 25px;
}

.logout{
    display: flex;
    position: absolute;
    padding: 10px 15px;
    color: #FFF;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    top: 5px;
    right: 10px;
}

.buttInst{
    padding: 5px 10px;
    color: #FFF;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    top: 5px;
    right: 10px;

}

.botones {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.error{
    color: crimson;
}

.escondido{
    display: none;
}

.svg__image{
    width: 400px;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login a {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #1984bc;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #1984bc;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #1984bc;
    transition: background-color 0.2s;
}


.form-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;        
    padding: 7px;
    margin: 6px;
    width: 100%;
    background: transparent;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #f8fbfc;
    border-color: #4BB6DD;
    border-bottom: 5px solid #5dd;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input:focus {
    background: linear-gradient(to bottom, transparent, #122);
    outline: none;
    border-bottom: 3px solid #5e9;
}

.info {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    /*background-color: #033FF7;
    border-radius: 5px;*/
    color: #65FF3F;
    font-size: 16px;
    /*border-bottom: 3px solid rgb(85, 221, 130);*/
    width: 100%;    
}

.enviar{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    color: #FFF;
    background-color: #348dba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 5px;
    right: 10px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 800px) {
  
    .boton {
        padding: 20px 25px;
        background-color: #4CAF50;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    

}

@media screen and (min-width: 800px) {

    
    .boton {
        padding: 40px 50px;
        background-color: #4CAF50;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
}


